name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Syntax check
        run: python -m py_compile app.py

      - name: Test message
        run: echo "First stage passed successfully!"

      # - name: Run unit tests
      #   env:
      #     AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      #     AWS_SECURITY_ACCESS_KEY: ${{ secrets.AWS_SECURITY_ACCESS_KEY }}
      #     AWS_REGION: ${{ secrets.AWS_REGION }}
      #   run: PYTHONPATH=. pytest --maxfail=1 --disable-warnings -q
        
  docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest

      - name: Docker message
        run: echo "Second stage passed successfully!"

  terraform:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
      
      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      
      - name: Terraform Fmt
        run: terraform fmt -check
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      # - name: Terraform Plan
      #   run: terraform plan
      #   working-directory: terraform
      #   env:
      #     AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      #     AWS_SECURITY_ACCESS_KEY: ${{ secrets.AWS_SECURITY_ACCESS_KEY }}
      #     AWS_REGION: ${{ secrets.AWS_REGION }}

      # - name: Terraform Apply
      #   if: github.ref == 'refs/heads/master' && github.event_name == 'push'
      #   run: terraform apply -auto-approve
      #   working-directory: terraform
      #   env:
      #     AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      #     AWS_SECURITY_ACCESS_KEY: ${{ secrets.AWS_SECURITY_ACCESS_KEY }}
      #     AWS_REGION: ${{ secrets.AWS_REGION }}

      # - name: Terraform message
      #   run: echo "All stages passed successfully! It create s3 bucket, dynamodb tables ,api gateway, lambda function and ec2 instance for our serverless app... "
